<!DOCTYPE html>
<html>
<head><title>Flowers</title>
</head>
<body style="background-color:#e7e7e7;">
<p>
<h1 dir="rtl">افوربیا</h1>
</p>
<h2 dir="rtl">نور</h2>
<h4 dir="rtl">
افوربیا به نور خورشید علاقه دارد. اگر آن را نهایتا تا دومتری یک پنجره قرار دهید، برای او عالی است
اکثر افوربیاها عاشق نورند! اما بعضی از آن‌ها می‌توانند سایه جزئی را هم تحمل کنند. افروبیای خود را نزدیک یک پنجره نورگیر جنوبی قرار دهید. از آغاز بهار تا میانه پاییز می‌توانید گلدان را به بالکن و باغچه منتقل کنید. اما دقت داشته باشید که نور خورشید باعث سوختن برگ‌های افوربیا نشود. اگر احساس کردید نور خیلی تند و گرم است، مکان افوربیا را کمی تغییر دهید
</h4>
<h2 dir="rtl" >دما</h2>
<h4 dir="rtl">
دمای بالای هوا در تابستان برای افوربیا مشکلی ایجاد نمی‌کند، اما هوای سرد زمستان چرا. البته این موضوع به میانگین دمای هوای محیط زندگی شما هم بستگی دارد. گونه‌هایی از افوربیا که متعلق به عربستان، بخش‌های غربی و مرکزی آفریقا و مناطق گرمسیری آمریکا هستند که برای ادامه حیات خود در زمستان به بازه دمایی 13 الی 15 درجه سانتی‌گراد نیاز دارند

اما افوربیاهایی که متعلق به ماداگاسکار و آفریقای شرقی هستند دمای کمتر ( 13 الی 10 درجه ) را نیز تحمل می‌کنند. گونه‌هایی که بومی بخش شمالی و جنوبی آفریقا هستند به دمای زیر 10 درجه نیاز دارند. بنابراین بهتر است افوربیا را با آغاز سرما به داخل خانه منتقل کنید
</h4>
<h2 dir="rtl">آبیاری</h2>
<h4 dir="rtl">
خاک خیس و مرطوب برای او رضایت بخش نیست. پس در آبیاری آن دقت کنید و مواظب باشید تا در آب غرقش نکنید
فوربیا تقریبا گیاهی خودکفاست. فقط کافی است هر دو هفته یک بار کمی آب به او بدهید. البته در زمستان ماهی یک بار کافی است
</h4>
<h2 dir="rtl">خاک و کوددهی</h2>
<h4 dir="rtl">
افوربیا به خاکی با زه‌کشی مناسب نیاز دارد و می‌تواند در شرایط بحرانی، در خاک خشک و کم‌آب هم زندگی کند. می‌توانید خودتان ترکیب خاک ایده‌آل افوربیا را بسازید. برای این کار از خاک مخصوص ساکولنت و کاکتوس استفاده کنید و آن را با خاک معمولی گیاهان آپارتمانی ترکیب کنید

هر نوع خاص از افوربیا به منابع معدنی خاصی نیاز دارد. اما بدون شک همه انواع این ساکولنت زیبا از دریافت کردن یک کود غنی و مناسب لذت می‌برند
گیاهی که در گلدان است، به کوددهی مرتب نیاز دارد. یک کود متعادل 10-10-10(نیتروژن-فسفر-پتاسیم) انتخاب کنید و با رقیق کردن آن به یک چهارم قدرت، هفته ای یکبار در طول فصل رشد به خاک گیاه اضافه کنید
</h4>
<h2 dir="rtl">هرس کردن</h2>
<h4 dir="rtl">
بعضی از انواع افوربیا به هرس کردن مداوم نیاز دارند، تا بیش از حد بزرگ نشده و بر اثر سنگین شدن دچار شکستگی نشوند
هنگام هرس کردن، از دستکش ضخیم و پوششی برای چشمان خود استفاده کنید. مواظب باشید که شیره سفید و سمی افوربیا به درون چشم و یا پوست شما وارد نشود. این شیره سمی است و سریعا باعث ایجاد التهاب میشود

تعویض گلدان می‌تواند برای افوربیا مفید باشد؛ اما نه هر سال
هر وقت احساس کردید که رشد افوربیا بیش از ظرفیت گلدان است، وقت آن است که گیاه را به گلدان بزرگتری منتقل کرده و خاک آن را هم به کلی عوض کنید. بهترین زمان برای این کار، آغاز بهار است. بعد از تعویض، حدود دو هفته صبر کنید و بعد از آن آبیاری گیاه را آغاز کنید
</h4>
<h2 dir="rtl">قلمه زدن</h2>
<h4 dir="rtl">
قلمه زدن بهترین روش برای تکثیر افوربیاست. البته می‌توان دانه آن را هم کاشت، اما جوانه زدن این دانه کاری بسیار دشوار و زمان‌بر است
</h4>
<br>
<img src="https://www.golsetan.com/wp-content/uploads/2020/07/Cactus-aforbia.jpg" alt="Flower" width="460" height="345">

</body>
</html>