<html>
<head><title>Flowers</title>
</head>
<body style="background-color:#e7e7e7;">
<p>
<h1 dir="rtl"> تاج خروسی</h1>
</p>
<h2 dir="rtl">نور</h2>
<h4 dir="rtl">
این خیلی خوب است که نور کافی خورشید به تاج خروسی بتابد، اما خوب جای نگرانی نیست. چون در محیط‌های کم نورتر و سایه هم رشد می‌کند. اما در نور کامل رشد بهتری دارد
تاج خروسی روزانه به دریافت حدودا 8 ساعت نور مستقیم خورشید نیاز دارد. در واقع هرچه نور بیشتر، بهتر!
تاج خروسی گلدانی را در نزدیکی یک پنجره نورگیر شمالی یا در بالکن قرار دهید. مواظب باشید که خاک در برابر نور خورشید کاملا خشک نشود، چون به پژمرده شدن گیاه منجر خواهد شد
</h4>
<h2 dir="rtl">آبیاری</h2>
<h4 dir="rtl">
وقتی سطح خاک کاملا خشک شد به گیاه آب بدهید. اما آبیاری بیش از حد آن را شدیدا ضعیف میکند. تاج خروسی نمی‌تواند خاک خیس را تحمل کند. این نوع گیاهان از آبیاری زیاد ابدا لذت نمی‌برند
یافتن برنامه‌ای صحیح برای آبیاری تاج خروسی کمی دشوار است، اما نیاز به نگرانی نیست

ساده‌ترین راه این است که به سطح خاک توجه کنید. هرگاه چند سانتی متر رویی آن خشک شد، یعنی زمان آبیاری فرا رسیده است. اگر گیاه شما نور زیادی دریافت می‌کند، اجازه ندهید خاک کاملا خشک شود. در مقابل اگر گیاه در معرض دریافت نور زیاد نیست، بنابراین نیاز آن به آبیاری نیز کاهش می‌یابد
هفته‌ای 3 سانتی متر بارش باران، نیازهای گیاه را به خوبی برطرف می‌کند. پس اگر در منطقه‌ای بارانی هستید، بد نیست کمی گیاه را زیر باران ببرید
</h4>
<h2 dir="rtl">کود دهی</h2>
<h4 dir="rtl">
کوددهی برای تاج خروسی ضروی نیست. اما اگر شاهد کاهش سرعت رشد گیاه بودید، می‌توانید در طول فصول رشد ماهی یکبار به تاج خروسی کود مایع بدهید
هنگامی که شکوفه دهی گیاه آغاز شد، این مقدار نیز باید افزایش پیدا کرده و دو هفته یکبار انجام شود
کودی را برای تاج خروسی انتخاب کنید که دارای مقادیر بالایی از نیتروژن باشد، مانند کودهای 3.1.2 
</h4>
<h2 dir="rtl">خاک</h2>
<h4 dir="rtl">
داشتن خاکی که عملیات زه کشی را به سرعت انجام دهد برای تاج خروسی بسیار مهم است
کاشت آن در خاکی با زه کشی نامناسب سبب ابتلای ریشه گیاه به پوسیدگی شده و در نتیجه مرگ آن را به همراه خواهد داشت. خاک سنگین و دارای مقادیر بالای رس برای آن مناسب نیست
خاک مناسب برای گیاه تاج خروسی خاک باغچه و پیت ماس و کمپوست است
</h4>
<h2 dir="rtl">هرس کردن</h2>
<h4 dir="rtl">
جدا کردن سرشاخه‌های گیاه، آن را به تولید گل‌های بیشتر تشویق کرده و سبب می‌شود تا انرژی خود را صرف تولید دانه نکند
گل‌های قدیمی و سپری شده را قبل از اینکه دانه‌ای تولید کنند، از شاخه‌ها جدا کنید. قبل از بریدن، قیچی را به خوبی شسته و با الکل تمیز کنید. زمانی که تیغه‌ها کاملا خشک شدند، قیچی آماده‌ی هرس کردن است
</h4>
<br>
<h2 dir="rtl">دما</h2>
<h4 dir="rtl">
تاج خروسی می‌تواند به خوبی در گلدان رشد کند، اما هوای داخل خانه برای گل دادن آن بیش از حد خشک است. در نتیجه برای سالم نگه داشتن گیاه، باید به آن کمک کنید
یک دستگاه مرطوب کننده هوا را در کنار آن قرار دهید

راه دیگر برای افزایش رطوبت هوای اطراف گیاه، این است که گلدان را بر روی سینی پر از آب قرار دهید. برای این کار، یک سینی کم عمق انتخاب کرده و داخل آن را با شن و ماسه پر کنید، سپس مقدار کمی آب بر روی آنها بریزید و اجازه دهید سنگریزه‌ها بخشی از آن را جذب کنند، در نهایت باید گلدان را بر روی سنگریزه‌ها قرار دهید. مواظب باشید انتهای گلدان به صورت مستقیم با آب موجود در سینی تماسی نداشته باشد

تاج خروسی یک گیاه تابستانی است و هوای سرد را دوست ندارد و دمای 25 الی 35 درجه برای رشد ان ایده آل است
خیس کردن برگها نیز می‌تواند مفید باشد؛ اما بسیار مواظب باشید که فقط برگها را خیس کنید و ابدا آبی به گلها و شکوفه‌ها نپاشید. این عمل را با یک اسپری آب انجام داده و از آبی در دمای محیط استفاده کنید
اسپری کردن باید در آغاز صبح صورت بگیرد، تا گیاه فرصت کافی برای جذب آن تا قبل از غروب خورشید داشته باشد. بدین شکل از ابتلای گیاه به بیماری‌های قارچی نیز جلوگیری می‌کنید
تاج خروسی گیاهی گرمسیری است، بنابراین عاشق هوای گرم و مرطوب است
</h4>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREi0MawGUBLFjnNWLfUfSkuaTv7NW_B7ciKg&usqp=CAU" alt="Flower" width="460" height="345">
</body>
</html>